<div class="card modern-card p-2 border-dashed dropzone-wrapper" [class.drag-over]="isDragOver"
    [class.disabled]="disabled">

    <!-- Hidden file input triggered by the label -->
    <input id="file-input-{{ title }}" type="file" class="visually-hidden" [accept]="acceptAttr"
        (change)="onFileBrowse($event)" [disabled]="disabled" [multiple]="multiple" />

    <label class="dropzone-label d-flex flex-column align-items-center justify-content-center p-5 m-0"
        for="file-input-{{ title }}">

        <div class="icon-box icon-box-primary mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path
                    d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
            </svg>
        </div>

        <h4 class="fw-bold mb-2 text-center">{{ title }}</h4>
        <p class="text-muted small mb-0 text-center">{{ subtitle }}</p>
    </label>
</div>